@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea {
  outline-color: transparent;
}

p {
  text-wrap: pretty;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.contact {
  min-height: 80vh;
  background-color: #878dff;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20vw), 0 100%);
}

.blob-shape {
  border-radius: 30% 70% 70% 30% / 31% 42% 58% 69%;
  background: url("../assets/image/blob-image.jpg");
  border: 3px solid rgb(97, 88, 88);
  width: 500px;
  height: 500px;
}

.grid-columns {
  width: min(90%, 90vw);
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjust column width as needed */
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
  height: 800px;
}
.grid-columns > div:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  padding: 2rem;
  display: grid;
}

.grid-columns > div:nth-child(2) {
  display: grid;
  place-items: center;
  font-weight: bold;
}

.grid-columns > * {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 12px;
}

.grid-columns > div:nth-child(4) {
  grid-column: span 2;
  grid-row: 2 / 5;
}

.grid-columns > div:nth-child(5),
div:nth-child(6) {
  grid-row: span 2;
}
